@font-face {
  font-family: open_sans_regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: open_sans_medium;
  src: url(../fonts/OpenSans-Medium.ttf);
}

@font-face {
  font-family: open_sans_bold;
  src: url(../fonts/OpenSans-bold.ttf);
}

@font-face {
  font-family: roboto_slab_bold;
  src: url(../fonts/RobotoSlab-Bold.ttf);
}

@font-face {
  font-family: roboto_slab_semibold;
  src: url(../fonts/RobotoSlab-SemiBold.ttf);
}

:root {
  --main_color: #16161d;
  --secondary_color: #1d1d26;
  --dark_blue: #1b203d;
  --dark_blue_hover: #22284d;
  --first_gradient: #00aebe;
  --second_gradient: #0e43bf;
  --price_color: #6cfbce;
}

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #16161d;
  font-family: open_sans_regular;
  box-sizing: border-box;
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: open_sans_regular;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #444;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: var(--first_gradient);
}


/*NAVIGATION BAR*/

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  background-color: #eeeeee;
}

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2%;
  max-width: 3500px;
  height: 75px;
  position: relative;
}

.logo {
  height: 60px;
}

nav #toggle,
nav .hamburger_menu {
  display: none;
}

nav ul li {
  display: inline-block;
  margin: 0 25px;
}

nav ul li a {
  font-family: open_sans_bold;
  font-size: 1rem;
  color: #1d1d1d;
  text-decoration: none;
}

nav ul li a:hover {
  color: #00aebe;
}

.icons {
  font-size: 23px;
}

.user_icon {
  margin-right: 25px;
  color: #1d1d1d;
}

.user_icon:hover {
  color: #00aebe;
}

.cart_icon {
  color: #1d1d1d;
}

.cart_icon:hover {
  color: #00aebe;
}

/*MAIN*/

main {
}
/*BANNER*/

.bannercontainer {
  content: "";
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 70 / 10;
  background-image: url(../images/Banner_image.jpg);
  background-position: center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannercontainer .textbox h1,
.bannercontainer .textbox p {
  color: #fff;
  font-family: roboto_slab_bold;
  text-align: center;
  text-shadow: 2px 2px 6px #000;
}

.bannercontainer .textbox h1 {
  font-size: clamp(1rem, 2.5vw, 2.188rem);
}

.bannercontainer .textbox p {
  font-size: clamp(0.5rem, 1.15vw, 1rem);
}

/*SEARCHBAR*/

.searchbar_container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: #1d1d26;
  border-radius: 25px;
  width: 50%;
  min-width: 280px;
  max-width: 1000px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}

.searchbar_container .searchbar {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  padding: 0 3%;
  font-family: open_sans_regular;
}

.searchbar_container .searchbar::placeholder {
  color: #bbb;
  font-family: open_sans_regular;
}

.searchbar_container .search_btn {
  background-color: red;
  height: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 25px;
  background-image: radial-gradient(#00aebe, #0e43bf 80%);
  position: relative;
}

.searchbar_container .search_btn:hover {
  background-image: radial-gradient(#00a3b3, #0d3fb3);
}

.searchbar_container .search_btn .search_icon {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 125%;
}

/*ALL GAMES*/

.background:nth-child(even) {
  background-color: var(--main_color);
  padding: 20px 0;
}

.background:nth-child(odd) {
  background-color: var(--secondary_color);
  padding: 20px 0;
}

.all_games_section {
  max-width: calc(1200px + 40px);
  margin: 50px auto;
  padding: 0 20px;
}

.all_games_section .infoshit {
  display: flex;
  justify-content: space-between;
}

.all_games_section .infoshit a {
  text-decoration: none;
}

.all_games_section h1 {
  color: #fff;
  font-family: open_sans_bold;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.all_games_section h1:hover {
  color: var(--first_gradient);
}

.all_games_section .show_all_btn {
  font-family: open_sans_medium;
  font-size: 1rem;
  width: 150px;
  height: 35px;
  border-radius: 25px;
  border: none;
  outline: none;
  color: #fff;
  background-color: var(--dark_blue);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.all_games_section .show_all_btn:hover {
  background-color: var(--dark_blue_hover);
}

/*GAMELIST*/

.games_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 20px;
  overflow: hidden;
}

.gamecard {
  background-color: var(--dark_blue);
  border-radius: 25px 25px 25px 25px;
  overflow: hidden;
}

.thumbnail_container {
  position: relative;
}

.assassin_thumbnail {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
  object-fit: cover;
}

.outlet_container {
  position: absolute;
  bottom: 5px;
  right: 0;
}

.outlet_txt {
  color: yellow;
  background-color: #000;
  font-size: 0.75rem;
  text-align: center;
  padding: 1px 20px;
}

.discount_percent {
  color: #000;
  background-color: yellow;
  padding: 1px 20px;
  font-size: 0.75rem;
  text-align: center;
}

.gameinfo {
  margin: 10px;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameinfo .title {
  color: #fff;
}

.gameinfo .title:hover {
  text-decoration: underline;
}

.gameinfo .subinfo {
  display: flex;
  justify-content: space-between;
}

.gameinfo .subinfo .price {
}

.gameinfo .subinfo .rating {
  font-size: 0.75rem;
  color: var(--first_gradient);
  position: absolute;
  bottom: 0;
  right: 0;
}

.gameinfo .subinfo .price .current_price {
  color: var(--price_color);
  font-size: 1.15rem;
  font-family: open_sans_regular;
}

.gameinfo .subinfo .price .earlier_price {
  color: darkgrey;
  text-decoration: line-through;
  font-size: 1rem;
}

.gamecard .add_to_cart_btn {
  background-image: linear-gradient(
    to bottom,
    var(--first_gradient),
    var(--second_gradient)
  );
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 0 0 25px 25px;
  outline: none;
  cursor: pointer;
}

.gamecard .add_to_cart_btn:hover {
  background-image: linear-gradient(to bottom, #00a3b3, #0d3fb3);
}

.gamecard .add_to_cart_icon {
  color: #fff;
  font-size: 18px;
}

/*FOOTER*/
footer {
  background-color: var(--dark_blue);
  margin-top: auto;
}

footer .center {
  max-width: calc(1200px + 40px);
  margin: 0 auto;
  padding: 20px 20px;
}

footer .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

footer section {
}

footer h3 {
  font-family: open_sans_bold;
  color: #fff;
  font-size: 16px;
  padding-bottom: 5px;
}

footer a {
  text-decoration: none;
  color: #bbb;
  font-size: 16px;
  display: block;
  padding: 5px 0;
}

footer a:hover {
  color: #fff;
}

/*LOGIN*/
.login_aside {
  height: 100vh;
  width: 30vw;
  background-image: linear-gradient(
    to bottom,
    var(--first_gradient),
    var(--second_gradient)
  );
  position: relative;
}

.login_aside h3 {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 3.5vw;
  color: #fff;
  font-family: roboto_slab_bold;
  text-align: center;
}

.login_form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login_form h2 {
  font-size: 2rem;
  color: #fff;
  font-family: open_sans_medium;
  margin: 0 0 30px 50px;
}

.login_form .email {
  margin-bottom: 20px;
}

.login_form label {
  font-family: open_sans_bold;
  display: block;
  color: #fff;
  margin: 0 0 10px 52px;
}

.login_form label::after {
  content: " *";
  color: var(--first_gradient);
}

.login_form i {
  color: var(--first_gradient);
  font-size: 2rem;
  margin-right: 20px;
}

.login_form input {
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: var(--secondary_color);
  padding: 10px 24px;
  color: #fff;
  font-size: 1.125rem;
  font-family: open_sans_regular;
}

.login_form input::placeholder {
  font-family: open_sans_regular;
  color: #777;
}

.login_form .center_login_input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form p {
  color: #bbb;
  margin: 10px 0 30px 50px;
  font-family: open_sans_regular;
}

.login_form p:hover {
  color: #fff;
  text-decoration: underline;
}

.login_form .login_btn,
.login_form .signup_btn {
  display: block;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 1.25em;
  font-family: open_sans_bold;
  text-decoration: none;
  padding: 5px 40px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.login_form .login_btn {
  background-color: var(--first_gradient);
}

.login_form .signup_btn {
  border: 2px var(--first_gradient) solid;
}

.login_footer {
  display: none;
}

/*SUPPORT MAIN*/

.support_main {
  display: grid;
  grid-template-columns: 300px 1fr;
}

/*SUPPORT ASIDE*/
.aside_support .account_active {
  color: var(--first_gradient);
}

.aside_support {
  min-height: 100vh;
  background-color: var(--secondary_color);
}

.aside_support a {
  font-size: 1.25rem;
  font-family: open_sans_regular;
  color: #fff;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: 60px 20px;
}

/*FORM*/
.supportform_container {
  margin: 0 auto;
  margin-top: 50px;
}

.supportform_container h1 {
  color: #fff;
  font-family: open_sans_regular;
  font-size: 1.5rem;
}

.supportform_container form {
  padding: 40px;
  margin-top: 20px;
  background-color: var(--secondary_color);
  border: none;
  border-radius: 30px;
  outline: none;
  width: 600px;
}

.supportform_container form .support_order_number_container::after {
  content: "Write down the order number if this concernes an order";
  display: block;
  margin-top: 5px;
  color: #777;
  font-size: 0.8rem;
}

.supportform_container form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.125rem;
  color: #fff;
}

.supportform_container form input::placeholder {
  color: #777;
  font-family: open_sans_regular;
}

.supportform_container form section {
  margin-bottom: 40px;
}

.supportform_container form .textfield {
  width: 450px;
  outline: none;
  border: none;
  border-bottom: 1px var(--first_gradient) solid;
  background-color: var(--secondary_color);
  color: #fff;
  font-size: 1rem;
  font-family: open_sans_regular;
}

.supportform_container form .required::after {
  content: " *";
  color: var(--first_gradient);
  font-size: 0.8rem;
  position: absolute;
  margin-left: 5px;
}

.supportform_container form textarea {
  resize: none;
  background-color: var(--main_color);
  border: 1px var(--first_gradient) solid;
  outline: none;
  border-radius: 20px;
  padding: 10px 15px;
  color: #fff;
  font-size: 1rem;
  font-family: open_sans_regular;
}

.supportform_container form textarea::placeholder {
  font-size: 1rem;
}

.supportform_container form .submit_btn {
  display: block;
  width: 150px;
  padding: 5px 40px;
  background-color: var(--first_gradient);
  border: 1px var(--first_gradient) solid;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  font-size: 1.25em;
  font-family: open_sans_bold;
  text-decoration: none;
  cursor: pointer;
}

/*GAMEPAGE*/

.gamepage_main {
}

.gamepage_main .gameinfo_container {
  max-width: calc(1200px + 40px);
  margin: 50px auto 100px auto;
  padding: 0 20px;
  display: grid;
  position: relative;;
  grid-template-columns: 1fr 1fr;  
}

.gamepage_main .gameinfo_container .gamecover {
  position: relative;
  max-width: 400px;
}

.gamepage_main .gameinfo_container .gamecover img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
  object-fit: cover;
}

.gamepage_main .gameinfo_container .gamecover .tags {
  overflow: auto;
  white-space: nowrap;
  padding: 10px 0 15px 0;
}

.gamepage_main .gameinfo_container .gamecover .tags::-webkit-scrollbar {
  height: 5px;
}

.gamepage_main .gameinfo_container .gamecover .tags::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #444;
  border-radius: 15px;
}

.gamepage_main .gameinfo_container .gamecover .tags::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: var(--first_gradient);
}

.gamepage_main .gameinfo_container .gamecover a {
  padding: 3px 15px;
  background-color: #3a3c57;
  border-radius: 13px;
  color: #fff;
  text-decoration: none;
}

.gamepage_main .gameinfo_container .gamecover .tags a {
  color: #bbb;
  font-family: open_sans_bold;
}

.gamepage_main .gameinfo_container .gamecover .tags a:hover {
  color: #fff;
}

.gamepage_main .gameinfo_container .gameinfo {
  max-width: 500px;
  height: 100%;
  margin-top: 0;
}

.gamepage_main .gameinfo_container .gameinfo .top_description h1 {
  color: #fff;
  font-size: 2rem;
  font-family: open_sans_bold;
}

.gamepage_main .gameinfo_container .gameinfo .top_description .rating {
  color: var(--first_gradient);
  margin: 5px 0;
}

.gamepage_main .gameinfo_container .gameinfo .top_description .horizontal_align p {
  color: #fff;
  margin: 5px;
}

.gamepage_main .gameinfo_container .gameinfo .top_description a p:hover {
  text-decoration: underline;
}

.gamepage_main .gameinfo_container .gameinfo .horizontal_align {
  display: flex;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.gamepage_main .gameinfo_container .gameinfo hr {
  margin-top: 5px;
  border: #777 1px solid;
}

.gamepage_main .gameinfo_container .gameinfo .description {
  margin: 20px 0;
}

.gamepage_main .gameinfo_container .gameinfo .description h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.gamepage_main .gameinfo_container .gameinfo .description p {
  color: #ffff;
}

.gamepage_main .gameinfo_container .gameinfo .purchase {
  
}

.gamepage_main .gameinfo_container .gameinfo .purchase h3 {
  color: var(--price_color);
  font-family: open_sans_bold;
  font-size: 1.5rem;
  margin-right: 20px;
}

.gamepage_main .gameinfo_container .gameinfo .purchase .amount {
margin-left: 10px;

}

.gamepage_main .gameinfo_container .gameinfo .purchase .amount button {
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  width: 30px;
  height: 40px;
  background-color: var(--secondary_color);
  border: none;
  outline: none;
}

.gamepage_main .gameinfo_container .gameinfo .purchase .amount button:nth-child(odd):hover {
  font-size: 1rem;
  cursor: pointer;
}

.gamepage_main .gameinfo_container .gameinfo .purchase .add_to_basket {
color: #fff;
font-size: 1.25rem;
padding: 5px 20px;
background-image: linear-gradient(var(--first_gradient), var(--second_gradient));
border: none;
border-radius: 7px;
cursor: pointer;
}

.gamepage_main .gameinfo_container .gameinfo .purchase .add_to_basket:hover {
  background-image: linear-gradient(to bottom, #00a3b3, #0d3fb3);
}

.bgcolor_section2 {
width: 100%;
background-color: var(--secondary_color);
height: fit-content;
}

.trailer-review_container {
  max-width: calc(1200px + 40px);
  margin: 50px auto 100px auto;
  padding: 0 20px;
  
}

.trailer-review_container .topics {
  display: flex;
  justify-content: center;
}

.trailer-review_container .topics a {
  padding: 20px 50px;
  text-decoration: none;
  color: #777;
  font-family: open_sans_regular;
}

.trailer-review_container .topics a:hover {
  background-color: #252531;
  color: #fff;
}

.trailer-review_container .topics .active {
  border-bottom: 2px var(--first_gradient) solid;
  padding-bottom: 5px;
  color: #fff;
}

.trailer-review_container .video_container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.trailer-review_container video {
  width: 70%;
}

.suggestions {
  max-width: calc(1200px + 40px);
  margin: 50px auto 100px auto;
  padding: 0 20px;
}

.suggestions h2 {
  color: #fff;
  font-size: 1.5rem;
  font-family: open_sans_bold;
}

@media (max-width: 1000px) {
  .games_container {
    grid-template-columns: repeat(4, 1fr);
    overflow: scroll;
  }

  .login_aside {
    display: none;
  }

  .gamepage_main .gameinfo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gamepage_main .gameinfo_container .gameinfo {
    max-width: 90%;
  }

}

@media (max-width: 800px) {
  nav .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  nav .hamburger_menu {
    display: block;
    color: #000;
    position: absolute;
    font-size: 30px;
    z-index: 1;
    transition: 0.3s;
  }

  nav #toggle:checked ~ .fullscreen_nav {
    left: 0;
  }

  nav #toggle:checked ~ .hamburger_menu {
    color: #fff;
  }

  nav .fullscreen_nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      45deg,
      var(--dark_blue_hover),
      var(--dark_blue)
    );
    transition: 0.3s ease;
  }

  nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  nav ul li {
    display: block;
    text-align: center;
    margin: 20px;
  }

  nav ul li a {
    font-size: 1.5rem;
    color: #fff;
  }

  .games_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .trailer-review_container video {
    width: 90%;
  }
}

@media (max-width: 600px) {
  nav {
    height: 50px;
  }
  .games_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo {
    height: 40px;
  }

  footer .content {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }

  footer section {
    margin: 25px;
  }
}

@media (max-width: 400px) {
  .games_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .gamecard {
    max-width: 300px;
    margin: 0 auto;
  }
}