@font-face {
  font-family: open_sans_regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: open_sans_medium;
  src: url(../fonts/OpenSans-Medium.ttf);
}

@font-face {
  font-family: open_sans_bold;
  src: url(../fonts/OpenSans-bold.ttf);
}

@font-face {
  font-family: roboto_slab_bold;
  src: url(../fonts/RobotoSlab-Bold.ttf);
}

@font-face {
  font-family: roboto_slab_semibold;
  src: url(../fonts/RobotoSlab-SemiBold.ttf);
}

:root {
  --main_color: #16161d;
  --secondary_color: #1d1d26;
  --dark_blue: #1b203d;
  --dark_blue_hover: #22284d;
  --first_gradient: #00aebe;
  --second_gradient: #0e43bf;
}

* {
  padding: 0;
  margin: 0;
  font-family: open_sans_regular;
}

html {
  background-color: #16161d;
}

/*NAVIGATION BAR*/

nav {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 2%;
  position: sticky;
}

.logo {
  height: 60px;
}

nav ul li {
  display: inline-block;
  margin: 0 25px;
}

nav ul li a {
  font-family: open_sans_bold;
  font-size: 1rem;
  color: #1d1d1d;
  text-decoration: none;
}

nav ul li a:hover {
  color: #00aebe;
}

.icons {
  font-size: 23px;
}

.user_icon {
  margin-right: 25px;
  color: #1d1d1d;
}

.user_icon:hover {
  color: #00aebe;
}

.cart_icon {
  color: #1d1d1d;
}

.cart_icon:hover {
  color: #00aebe;
}

/*MAIN*/

main {
  position: relative;
  width: 60%;
  max-width: 1920px;
  margin: 0 auto;
}
/*BANNER*/

.bannercontainer {
  content: "";
  width: 100%;
  aspect-ratio: 70 / 10;
  background-image: url(../images/Banner_image.jpg);
  background-position: center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannercontainer .textbox h1,
.bannercontainer .textbox p {
  color: #fff;
  font-family: roboto_slab_bold;
  text-align: center;
  text-shadow: 2px 2px 6px #000;
}

.bannercontainer .textbox h1 {
  font-size: 2.188rem;
}

.bannercontainer .textbox p {
  font-size: 1rem;
}

/*SEARCHBAR*/

.searchbar_container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  background: #1d1d26;
  border-radius: 25px;
  width: 50%;
  min-width: 280px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}

.searchbar_container .searchbar {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  padding: 0 3%;
}

.searchbar_container .searchbar::placeholder {
  color: #fff;
}

.searchbar_container .search_btn {
  background-color: red;
  height: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 25px;
  background-image: radial-gradient(#00aebe, #0e43bf 80%);
  position: relative;
}

.searchbar_container .search_btn .search_icon {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 125%;
}

/*ALL GAMES*/

.all_games_section {
  margin-top: 50px;
}

.all_games_section .infoshit {
  display: flex;
  justify-content: space-between;
}

.all_games_section a {
  text-decoration: none;
}

.all_games_section h1 {
  color: #fff;
  font-family: roboto_slab_semibold;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.all_games_section h1:hover {
  color: var(--first_gradient);
}

.all_games_section .show_all_btn {
  font-family: open_sans_medium;
  font-size: 1rem;
  width: 150px;
  height: 35px;
  border-radius: 25px;
  border: none;
  outline: none;
  color: #fff;
  background-color: var(--dark_blue);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.all_games_section .show_all_btn:hover {
  background-color: var(--dark_blue_hover);
}

/*GAMELIST*/
